extends ../layout

block content
  h1 Edit task view
  form(method='post', action='/tasks/' + task.id)
    input(type='hidden', name='_method', value='PUT') 
    fieldset
      legend Editing task:
            br
            div.form-group
              label Task
              input.form-control(name='task[task]', class='xlarge', value="#{task.task}")
    
    button.btn.btn-primary(type='submit') Submit
    button.btn.btn-default(type='reset') Clear
